.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group.row {
    display: contents; /* Les éléments enfants sont placés directement dans le flux parent */

}

.form-group.row label {
    display: block;
    margin-top: 10px;
}

.form-group.row textarea {
    resize: none;

}

.form-group.row input {
    margin-top: 10px;
    width: 100%;
}

.col-form-label {
    max-width: 100px;
}